$bg-color : white;
$body-bg: #ededed;
$theme-color-color: #c8c8c8;

$theme-colors: (
        "primary": $theme-color-color
);
@import "../../node_modules/bootstrap/scss/bootstrap";


#mainform {

  input.input_hash_salt {
    width: 500px;
  }
}

.textareawidth {
  min-width: 100%;
  border: none;
  min-height: 300px;
  background: transparent;
  outline: none;
}
.tabsjson a {
  background-color: #f8f9fa;
  color: black;
}
/*body {
  background: $bg-color;
}

.sikimiki {
  background-color: black;
}*/
